		  <p class="tac">&#169; 2014 Skinny Digital Ltd.</p>
		  <p class="tac">Skinny Digital Ltd is a company registered in Scotland. Company No. 469802, VAT No. 181810319</p>
          
        </div> <!-- END: wrapper -->
		<script src="{{ site.baseurl }}/assets/js/vendor/jquery-1.10.1.min.js"></script>

        <script src="{{ site.baseurl }}/assets/js/main.js"></script>

        <script>
            var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
            (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
            g.src='//www.google-analytics.com/ga.js';
            s.parentNode.insertBefore(g,s)}(document,'script'));
        </script>
	</body>
</html>
