<!-- GRID EXAMPLE -->
<div class="shelf--pad bg-mono-5">
                     
    <div class="grid">
        <div class="grid__item">
            <hgroup class="hgroup hgroup--type-2">
                <h2 class="h-s">Grid</h2>
                <h2 class="h-l">Notes</h2>
            </hgroup>
            <p>The <code>grid</code> object is a container for <code>grid__item</code>s. <code>grid__item</code>s simply flow one after the other as they are set to <code>float:left</code>. The <code>grid</code> object helps to keep things in place (i.e. avoiding <code>grid__item</code>s jumping up onto a previous row that perhaps doesn't total 100%) so a new <code>grid</code> should be started for each row of <code>grid__item</code>s.</p>
        </div>
    </div>

    <div class="grid">
        <div class="grid__item">
            <h2 class="h-m">One-whole</h2>
        </div>
    </div>

    <div class="grid">
        <div class="grid__item">
            <div class="pod--pad bg-p-1" href="#">
                <h2 class="h-s">one-whole</h2>
            </div>
        </div>
    </div>

    <!-- HALVES -->
    <div class="grid">
        <div class="grid__item">
            <h2 class="h-m">Halves</h2>
        </div>
    </div>

    <div class="grid">
        <div class="grid__item one-half">
            <div class="pod--pad bg-p-1" href="#">
                <h2 class="h-s">one-half</h2>
            </div>
        </div>
        <div class="grid__item one-half">
            <div class="pod--pad bg-p-1" href="#">
                <h2 class="h-s">one-half</h2>
            </div>
        </div>
    </div>

    <!-- THIRDS -->
    <div class="grid">
        <div class="grid__item">
            <h2 class="h-m">Thirds</h2>
        </div>
    </div>

    <div class="grid">
        <div class="grid__item one-third">
            <div class="pod--pad bg-p-1" href="#">
                <h2 class="h-s">one-third</h2>
            </div>
        </div>
        <div class="grid__item one-third">
            <div class="pod--pad bg-p-1" href="#">
                <h2 class="h-s">one-third</h2>
            </div>
        </div>
        <div class="grid__item one-third">
            <div class="pod--pad bg-p-1" href="#">
                <h2 class="h-s">one-third</h2>
            </div>
        </div> 
    </div>

    <div class="grid">
        <div class="grid__item two-thirds">
            <div class="pod--pad bg-p-1" href="#">
                <h2 class="h-s">two-thirds</h2>
            </div>
        </div>
        <div class="grid__item one-third">
            <div class="pod--pad bg-p-1" href="#">
                <h2 class="h-s">one-third</h2>
            </div>
        </div> 
    </div>

    <div class="grid">
        <div class="grid__item one-third">
            <div class="pod--pad bg-p-1" href="#">
                <h2 class="h-s">one-third</h2>
            </div>
        </div>
        <div class="grid__item two-thirds">
            <div class="pod--pad bg-p-1" href="#">
                <h2 class="h-s">two-thirds</h2>
            </div>
        </div> 
    </div>



    <!-- QUARTERS -->
    <div class="grid">
        <div class="grid__item">
            <h2 class="h-m">Quarters</h2>
        </div>
    </div>

    <div class="grid">
        <div class="grid__item one-quarter">
            <div class="pod--pad bg-p-1" href="#">
                <h2 class="h-s">one-quarter</h2>
            </div>
        </div>
        <div class="grid__item one-quarter">
            <div class="pod--pad bg-p-1" href="#">
                <h2 class="h-s">one-quarter</h2>
            </div>
        </div>
        <div class="grid__item one-quarter">
            <div class="pod--pad bg-p-1" href="#">
                <h2 class="h-s">one-quarter</h2>
            </div>
        </div>
        <div class="grid__item one-quarter">
            <div class="pod--pad bg-p-1" href="#">
                <h2 class="h-s">one-quarter</h2>
            </div>
        </div> 
    </div>

    <div class="grid">
        <div class="grid__item three-quarters">
            <div class="pod--pad bg-p-1" href="#">
                <h2 class="h-s">three-quarters</h2>
            </div>
        </div>
        <div class="grid__item one-quarter">
            <div class="pod--pad bg-p-1" href="#">
                <h2 class="h-s">one-quarter</h2>
            </div>
        </div> 
    </div>

    <div class="grid">
        <div class="grid__item one-quarter">
            <div class="pod--pad bg-p-1" href="#">
                <h2 class="h-s">one-quarter</h2>
            </div>
        </div>
        <div class="grid__item three-quarters">
            <div class="pod--pad bg-p-1" href="#">
                <h2 class="h-s">three-quarters</h2>
            </div>
        </div> 
    </div>



    <!-- FIFTHS -->
    <div class="grid">
        <div class="grid__item">
            <h2 class="h-m">Fifths</h2>
        </div>
    </div>

    <div class="grid">
        <div class="grid__item one-fifth">
            <div class="pod--pad bg-p-1" href="#">
                <h2 class="h-s">one-fifth</h2>
            </div>
        </div>
        <div class="grid__item one-fifth">
            <div class="pod--pad bg-p-1" href="#">
                <h2 class="h-s">one-fifth</h2>
            </div>
        </div>
        <div class="grid__item one-fifth">
            <div class="pod--pad bg-p-1" href="#">
                <h2 class="h-s">one-fifth</h2>
            </div>
        </div>
        <div class="grid__item one-fifth">
            <div class="pod--pad bg-p-1" href="#">
                <h2 class="h-s">one-fifth</h2>
            </div>
        </div>
        <div class="grid__item one-fifth">
            <div class="pod--pad bg-p-1" href="#">
                <h2 class="h-s">one-fifth</h2>
            </div>
        </div>
    </div>

    <div class="grid">
        <div class="grid__item four-fifths">
            <div class="pod--pad bg-p-1" href="#">
                <h2 class="h-s">four-fifths</h2>
            </div>
        </div>
        <div class="grid__item one-fifth">
            <div class="pod--pad bg-p-1" href="#">
                <h2 class="h-s">one-fifth</h2>
            </div>
        </div>
    </div>

    <div class="grid">
        <div class="grid__item one-fifth">
            <div class="pod--pad bg-p-1" href="#">
                <h2 class="h-s">one-fifth</h2>
            </div>
        </div>
        <div class="grid__item four-fifths">
            <div class="pod--pad bg-p-1" href="#">
                <h2 class="h-s">four-fifths</h2>
            </div>
        </div>
    </div>

    <div class="grid">
        <div class="grid__item three-fifths">
            <div class="pod--pad bg-p-1" href="#">
                <h2 class="h-s">three-fifths</h2>
            </div>
        </div>
        <div class="grid__item two-fifths">
            <div class="pod--pad bg-p-1" href="#">
                <h2 class="h-s">two-fifths</h2>
            </div>
        </div>
    </div>

    <div class="grid">
        <div class="grid__item two-fifths">
            <div class="pod--pad bg-p-1" href="#">
                <h2 class="h-s">two-fifths</h2>
            </div>
        </div>
        <div class="grid__item three-fifths">
            <div class="pod--pad bg-p-1" href="#">
                <h2 class="h-s">three-fifths</h2>
            </div>
        </div>
    </div>

</div>